
.Instructions {
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1rem;
    font-size: 0.8rem;
}

#game {
    margin-right: 50%; 
    height: 100px; 
}

#mytest {
    margin-left: 50%;  
    width: 100px; 
    padding: 10rem
}

